/*Import styles*/
@import "wrist.css";
@import "forearm.css";
@import "handposition.css";
@import "attacks.css";
@import "technique.css";
@import "index.css";
@import "header.css";
@import "footer.css";

/*color xulo rgb(52,153,102)*/


/*General styles*/

body {
  background-color: white;
}


h1 {
  color: white;
  font-size: 80px;
  background-color: black;
}








