/*Import styles*/
@import "wrist.css";
@import "forearm.css";
@import "handposition.css";
@import "attacks.css";

/*color xulo rgb(52,153,102)*/



body {
  background-color: white;
}

h1 {
color: white;
font-size: 80px;
background-color: black;
}

.div1 {
	background-color: : grey;
}

h1:hover {background-color: #D63720;
	color: white;
	transition: 0.2s;

}

ul {
	list-style-type: none;
}

.my_navbar{
  background-color: gold;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
  padding:0;
}

.header {
  background-color: gold;
}


.my_navbar a:hover {
  font-size: 25px;
}

.my_navbar a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
}


/*Cards*/
a:hover {
 text-decoration: none;
}

.card {
  box-shadow: 9px 5px 11px -3px rgb(111,125,136);
  -webkit-box-shadow: 9px 5px 11px -3px rgb(111,125,136);
  -moz-box-shadow: 9px 5px 11px -3px rgb(111,125,136);
  border-radius: 5px;
  display: flex;
  align-items: center;
  height:200px;
  margin-bottom: 50px;
  background-color: white;
}

.card:hover {
    box-shadow: 11px 5px 11px -3px rgb(111,125,136);
  -webkit-box-shadow: 11px 5px 11px -3px rgb(111,125,136);
  -moz-box-shadow: 11px 5px 11px -3px rgb(111,125,136);
}

.card-image {
  height: 100%;
  margin-right:20px;
}



.card-text {
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
  color: #262721;
}

.card-text:hover {
  font-size: 40.5px;
  color: #D63720;
}
.card-image img{
  height:100%;
  width:300px;
  object-fit:cover;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
}

/*Footer*/

.footer {
background-color: black;
height: 100px;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
color: white;
}




